header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 80px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #ff7a57;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}


.profile-pic {
    width: 500px; 
    height: 650px; 
    margin-right: 40px;
    object-fit: cover; 
}


.profile-details {
    flex: 1;
    text-align: left;
    margin-left: 230px;
}

.profile-details .h2 h2,
.profile-details .h2 {
    color: #666;
    font-size: 24px;
}

.profile-details .h1 h1 {
    font-size: 44px;
    color: #333;
    font-weight: bold;
    margin: 5px 0;
    margin-left: 40px;
}

.profile-details .download-cv {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.profile-details .download-cv button {
    background-color: #ff7a57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.profile-details .download-cv button:hover {
    background-color: #ff5733;
}

.profile-details .social-icons {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px; 
    gap: 20px; 
}

.profile-details .social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s;
}

.profile-details .social-icons img:hover {
    transform: scale(1.1);
}


