header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 80px;
}


nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}


nav ul li a:hover {
    color: rgba(255, 166, 0, 0.957);
    background-color:black;
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.profile-pic {
    width: 500px; 
    height: 650px; 
    margin-right: 40px;
    object-fit:cover; 
}


.welcome-note {
    max-width: 600px;
}

.welcome-note h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.welcome-note p {
    font-size: 18px;
    color: rgb(255, 166, 2);
}

.welcome-note p:hover {
    color: rgb(255, 166, 2);
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.contact-info {
    margin-top: 20px;
}

.phone, .email {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
}

.phone img, .email img {
    width: 24px; 
    height: 24px;
    margin-right: 10px;
}

.phone span, .email span {
    font-size: 16px;
}



